.block-heading{
    position: relative;
    height: 55rem;   

    background-image: linear-gradient(
                to top,
                rgba(61,61,61,1),
                rgba(221,221,221,0.1)),
            url(../img/test-verstka.jpg); 
            background-size: cover;
            
}









