<div class="breed-container">
<div class="block-breed">
  <div class="header-breed">
     <h2 class="header-name">
       Dog Breed
     </h2>
</div>
     <mat-tab-group class = "main-block-content">
        <mat-tab label ="Afghan Hound">
          <div class="mat-tab-body-content--center">
              <app-mat-tab-content></app-mat-tab-content>
          </div>
        </mat-tab>

        <mat-tab label ="Airedale Terrier">
            <div class="mat-tab-body-content--center">
          <app-mat-tab-content></app-mat-tab-content>
          </div>
        </mat-tab>

        <mat-tab label ="Cocker Spaniel">
            <div class="mat-tab-body-content--center">
                <app-mat-tab-content></app-mat-tab-content>
            </div>
        </mat-tab>
        <mat-tab label ="Alaskan Malamute">
            <div class="mat-tab-body-content--center">
                <app-mat-tab-content></app-mat-tab-content>
            </div>
        </mat-tab>
        <mat-tab label ="American Foxhound">
            <div class="mat-tab-body-content--center">
                <app-mat-tab-content></app-mat-tab-content>
            </div>
        </mat-tab>

        <mat-tab label ="Beagle">
            <div class="mat-tab-body-content--center">
                <app-mat-tab-content></app-mat-tab-content>
            </div>
        </mat-tab>
        <mat-tab label ="Australian Shepherd">
            <div class="mat-tab-body-content--center">
                <app-mat-tab-content></app-mat-tab-content>
            </div>
        </mat-tab>
        <mat-tab label ="Basset Hound">
                <div class="mat-tab-body-content--center">
                    <app-mat-tab-content></app-mat-tab-content>
                </div>
        </mat-tab>
        <mat-tab label ="Cattle Dog">
                <div class="mat-tab-body-content--center">
                    <app-mat-tab-content></app-mat-tab-content>
                </div>
        </mat-tab>
        </mat-tab-group>
  </div>
</div>