<div class="mat-tab-body-content--center">

    <div class="breed">
      <div class="card-breed">
      <div class="img-breed">              
      </div>
        <div class="header-breed"> <h2>Afghan Hound Dog Temperament</h2></div>
          <div class="content-breed">
            Despite his glamorous reputation,
             the Afghan hound is a hunter at heart, bred to chase down game
             over rugged terrain. While he maintains his regal bearings inside,
             he needs a daily chance to stretch his legs in a safe area. His worst 
             trait is a reluctance to come when called. He will chase small animals 
             outside; inside, he will coexist peacefully. The Afghan Hound is gentle with
             children and described by some as 'catlike'. He is independent yet sensitive 
             and not overly demonstrative. He can be reserved with strangers; some can be 
             timid. He has a gay, clownish side. 
           </div>
 
      </div>
    </div>

   </div>