.gsp-button{
    width: 2rem;
    height: 3rem;
    float: right;
    background-color: transparent;
}
.btn-search{
    
    float: right;
    font-size: 14px;
    padding:2 2rem !important; 
}

.btn-map{
    float: left;
    padding-left: 2rem;
    color: red;
    font-size: 2rem;
    margin-left: 0;
    width: 0;
}
